/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
/* line 1, ../sass/_navigationBar.scss */
#mainNav,
#docsSearch {
  background-color: #0d418a;
}

/* line 7, ../sass/_navigationBar.scss */
#mainNav .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}
/* line 13, ../sass/_navigationBar.scss */
#mainNav .container-fluid::before, #mainNav .container-fluid::after {
  content: none;
}
/* line 19, ../sass/_navigationBar.scss */
#mainNav .navbar-inner {
  background-color: #0d418a;
}
/* line 23, ../sass/_navigationBar.scss */
#mainNav .nav {
  position: static;
}
/* line 26, ../sass/_navigationBar.scss */
#mainNav .nav li a {
  color: #ffffff;
  font-size: 1.33rem;
  padding: 1rem;
}
/* line 33, ../sass/_navigationBar.scss */
#mainNav .nav .active a {
  color: #ffffff;
  font-weight: bold;
}
/* line 38, ../sass/_navigationBar.scss */
#mainNav .nav .active .caret {
  display: none;
}
/* line 44, ../sass/_navigationBar.scss */
#mainNav a.brand {
  width: 172px;
  height: 30px;
  background: no-repeat left center url("../images/memo-bank-logo.svg");
}
/* line 48, ../sass/_navigationBar.scss */
#mainNav a.brand img {
  display: none;
}

/* line 54, ../sass/_navigationBar.scss */
#docsSearch {
  border-bottom: none;
}
/* line 57, ../sass/_navigationBar.scss */
#docsSearch h1 {
  font-size: 2.33rem;
  line-height: 3.5rem;
  margin-bottom: 2.67rem;
  font-weight: bold;
  color: #ffffff;
}

/* line 66, ../sass/_navigationBar.scss */
#searchBar {
  padding: 0;
  padding-bottom: 4rem;
}
/* line 70, ../sass/_navigationBar.scss */
#searchBar .search-query {
  border: none;
  border-radius: 3px;
  box-shadow: none;
  font-size: 1.33rem;
  color: #18181b;
  padding-left: 1.34rem;
}
/* line 78, ../sass/_navigationBar.scss */
#searchBar .search-query::placeholder {
  color: #797e86;
}
/* line 83, ../sass/_navigationBar.scss */
#searchBar button[type='submit'] {
  background-color: transparent;
  padding-left: 1.34rem;
  padding-right: 1.34rem;
  border: none;
  text-shadow: none;
  border-radius: 0 3px 3px 0;
  top: 0;
}
/* line 92, ../sass/_navigationBar.scss */
#searchBar button[type='submit'] i.icon-search {
  display: block;
  content: url("../images/icons/magnifying-glass.svg");
}
/* line 97, ../sass/_navigationBar.scss */
#searchBar button[type='submit'] span {
  display: none;
}

/* line 103, ../sass/_navigationBar.scss */
#serp-dd {
  background: #ffffff;
  border: 1px solid #e4e5e7;
  box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-sizing: border-box;
  top: 56px;
}
/* line 111, ../sass/_navigationBar.scss */
#serp-dd .result a {
  color: #18181b;
  padding: 1rem 1.34rem 1rem 1.34rem;
}

/* line 2, ../sass/_categoriesList.scss */
.collection-category h2,
.collection-category .category {
  margin: 0;
}
/* line 7, ../sass/_categoriesList.scss */
.collection-category h2 {
  padding: 0;
}

/* line 12, ../sass/_categoriesList.scss */
.collection-category {
  max-width: 744px;
  margin: 0 auto 24px auto;
}
/* line 16, ../sass/_categoriesList.scss */
.collection-category h2 {
  display: none;
}
/* line 20, ../sass/_categoriesList.scss */
.collection-category:not(:last-of-type) {
  border-bottom: 1px solid #e4e5e7;
  padding-bottom: 0;
}
/* line 25, ../sass/_categoriesList.scss */
.collection-category .category-list {
  margin: 0;
}
/* line 28, ../sass/_categoriesList.scss */
.collection-category .category-list:not(.two-col) .category {
  display: block;
  width: 100%;
}
/* line 33, ../sass/_categoriesList.scss */
.collection-category .category-list.two-col {
  display: flex;
}
/* line 37, ../sass/_categoriesList.scss */
.collection-category .category-list.two-col .category {
  width: 50%;
}
/* line 39, ../sass/_categoriesList.scss */
.collection-category .category-list.two-col .category:nth-child(odd) {
  margin-right: 2rem;
}
/* line 44, ../sass/_categoriesList.scss */
.collection-category .category-list .category {
  box-sizing: border-box;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 3px;
  background-position: 24px center;
  background-repeat: no-repeat;
  padding-left: 92px;
}
/* line 52, ../sass/_categoriesList.scss */
.collection-category .category-list .category h3,
.collection-category .category-list .category p {
  text-align: left;
}
/* line 57, ../sass/_categoriesList.scss */
.collection-category .category-list .category .article-count {
  display: none;
}
/* line 61, ../sass/_categoriesList.scss */
.collection-category .category-list .category h3 {
  font-size: 1.33rem;
  line-height: 2rem;
  font-weight: 600;
  color: #18181b;
  margin-top: 0;
  margin-bottom: 0.34rem;
}
/* line 70, ../sass/_categoriesList.scss */
.collection-category .category-list .category p {
  font-size: 1.17rem;
  color: #797e86;
  margin: 0;
  line-height: 1.67rem;
}

/* line 1, ../sass/_categoriesIcons.scss */
#category-139 {
  background-image: url("../images/institutional-building.svg");
}

/* line 5, ../sass/_categoriesIcons.scss */
#category-107 {
  background-image: url("../images/memo-bank-sticker.svg");
}

/* line 9, ../sass/_categoriesIcons.scss */
#category-279 {
  background-image: url("../images/document-check.svg");
}

/* line 13, ../sass/_categoriesIcons.scss */
#category-277 {
  background-image: url("../images/wallet.svg");
}

/* line 17, ../sass/_categoriesIcons.scss */
#category-278 {
  background-image: url("../images/arrows.svg");
}

/* line 21, ../sass/_categoriesIcons.scss */
#category-280 {
  background-image: url("../images/returning-arrows.svg");
}

/* line 25, ../sass/_categoriesIcons.scss */
#category-284 {
  background-image: url("../images/vault.svg");
}

/* line 29, ../sass/_categoriesIcons.scss */
#category-285 {
  background-image: url("../images/cog.svg");
}

/* line 33, ../sass/_categoriesIcons.scss */
#category-287 {
  background-image: url("../images/padlock.svg");
}

/* line 37, ../sass/_categoriesIcons.scss */
#category-286 {
  background-image: url("../images/folder.svg");
}

/* line 41, ../sass/_categoriesIcons.scss */
#category-288 {
  background-image: url("../images/balance.svg");
}

/* line 1, ../sass/_mainContent.scss */
#main-content {
  background: none;
}
/* line 3, ../sass/_mainContent.scss */
#main-content .contentWrapper {
  border: 1px solid #e4e5e7;
  border-radius: 3px;
  padding: 4rem;
}
/* line 9, ../sass/_mainContent.scss */
#main-content h1 {
  font-size: 1.89rem;
  line-height: 2.67rem;
  font-weight: 600;
  color: #18181b;
  margin-bottom: 0;
}
/* line 17, ../sass/_mainContent.scss */
#main-content .descrip {
  font-size: 1.17rem;
  color: #797e86;
  line-height: 1.67rem;
  margin-top: 0;
}
/* line 24, ../sass/_mainContent.scss */
#main-content .articleList,
#main-content .related {
  margin-top: 2.67rem;
}
/* line 28, ../sass/_mainContent.scss */
#main-content .articleList li,
#main-content .related li {
  font-size: 1.17rem;
  line-height: 1.67rem;
  margin-bottom: 1.34rem;
}
/* line 34, ../sass/_mainContent.scss */
#main-content .articleList a,
#main-content .related a {
  display: flex;
  align-items: center;
}
/* line 39, ../sass/_mainContent.scss */
#main-content .articleList .icon-article-doc,
#main-content .related .icon-article-doc {
  font-size: 0;
}
/* line 42, ../sass/_mainContent.scss */
#main-content .articleList .icon-article-doc::before,
#main-content .related .icon-article-doc::before {
  content: url("../images/icons/small-note.svg");
  margin-right: 1rem;
}
/* line 51, ../sass/_mainContent.scss */
#main-content #serp .articleList a {
  font-size: 1.17rem;
  line-height: 1.67rem;
}
/* line 56, ../sass/_mainContent.scss */
#main-content #serp .articleList p {
  padding-left: 1rem;
  color: #18181b;
}
/* line 62, ../sass/_mainContent.scss */
#main-content #serp .articlesFound,
#main-content #serp .nada {
  font-size: 1.17rem;
  line-height: 1.67rem;
  margin-top: 0;
  color: #797e86;
}

/* line 2, ../sass/_sidebar.scss */
#sidebar form input.search-query {
  border: 1px solid #e4e5e7;
  border-radius: 3px;
  box-shadow: none;
  color: #18181b;
}
/* line 8, ../sass/_sidebar.scss */
#sidebar form input.search-query::placeholder {
  color: #797e86;
}
/* line 12, ../sass/_sidebar.scss */
#sidebar form input.search-query:focus {
  box-shadow: none;
  border-color: #0b5dd0;
}
/* line 18, ../sass/_sidebar.scss */
#sidebar button[type='submit'] {
  padding-right: 0;
}
/* line 22, ../sass/_sidebar.scss */
#sidebar h3 {
  font-size: 1.33rem;
  font-weight: 600;
  color: #18181b;
  text-transform: capitalize;
  padding-left: 1rem;
  line-height: 2rem;
  margin-bottom: 1.34rem;
}
/* line 32, ../sass/_sidebar.scss */
#sidebar .nav-list li {
  padding-left: 1rem;
  border-radius: 3px;
}
/* line 37, ../sass/_sidebar.scss */
#sidebar .nav-list .active {
  background-color: #f0f6fe;
}
/* line 40, ../sass/_sidebar.scss */
#sidebar .nav-list .active .icon-arrow {
  display: none !important;
}
/* line 45, ../sass/_sidebar.scss */
#sidebar .nav-list a {
  font-size: 1.17rem;
  line-height: 1.67rem;
  color: #18181b;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 54, ../sass/_sidebar.scss */
#sidebar .nav-list .active a,
#sidebar .nav-list .active a:hover {
  color: #0b5dd0;
  font-weight: 400;
}
/* line 60, ../sass/_sidebar.scss */
#sidebar .nav-list li:not(.active):hover {
  background-color: #f0f6fe;
  cursor: pointer;
}

/* line 2, ../sass/_article.scss */
article#fullArticle h1 {
  font-size: 2.33rem;
  line-height: 3.5rem;
  margin-bottom: 4rem;
  color: #18181b;
}
/* line 9, ../sass/_article.scss */
article#fullArticle p {
  color: #18181b;
  font-size: 1.17rem;
  line-height: 1.67rem;
  margin-bottom: 1.34rem;
  margin-top: 0.67rem;
}
/* line 17, ../sass/_article.scss */
article#fullArticle strong {
  color: #18181b;
}
/* line 21, ../sass/_article.scss */
article#fullArticle h3 {
  font-size: 1.89rem;
  line-height: 2.67rem;
  margin-top: 4rem;
  margin-bottom: 0.67rem;
  padding-top: 4rem;
  border-top: 1px solid #e4e5e7;
}
/* line 30, ../sass/_article.scss */
article#fullArticle .callout + h3 {
  padding-top: 0;
  border-top: none;
}
/* line 35, ../sass/_article.scss */
article#fullArticle h4 {
  font-size: 1.33rem;
  line-height: 2rem;
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 42, ../sass/_article.scss */
article#fullArticle .callout {
  background-color: #f0f6fe;
  border-left: 0.34rem solid #0b5dd0;
  padding: 1.34rem 2rem 1.34rem 2rem;
  margin-top: 4rem;
}
/* line 49, ../sass/_article.scss */
article#fullArticle .callout p {
  margin-bottom: 2rem;
  line-height: 1.67rem;
}
/* line 54, ../sass/_article.scss */
article#fullArticle dt {
  background-color: #5599f6;
  font-size: 1.17rem;
  font-weight: 600;
  padding: 0.67rem;
  width: 1.34rem;
  height: 1.34rem;
}

@media (max-width: 768px) {
  /* line 2, ../sass/_responsive.scss */
  .category-list.two-col {
    flex-direction: column;
  }
}
/* line 16, ../sass/screen.scss */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 21, ../sass/screen.scss */
html {
  font-size: 12px;
}

/* line 25, ../sass/screen.scss */
a {
  color: #0b5dd0;
}
