article#fullArticle {
  h1 {
    font-size: $font-size-large-title;
    line-height: $line-height-large-title;
    margin-bottom: $size-xl;
    color: $color-gray-text;
  }

  p {
    color: $color-gray-text;
    font-size: $font-size-body;
    line-height: $line-height-body;
    margin-bottom: $size-s;
    margin-top: $size-xxs;
  }

  strong {
    color: $color-gray-text;
  }

  h3 {
    font-size: $font-size-title;
    line-height: $line-height-title;
    margin-top: $size-xl;
    margin-bottom: $size-xxs;
    padding-top: $size-xl;
    border-top: 1px solid $color-gray-border;
  }

  .callout + h3 {
    padding-top: 0;
    border-top: none;
  }

  h4 {
    font-size: $font-size-subtitle;
    line-height: $line-height-subtitle;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .callout {
    background-color: $color-blue-background;
    border-left: $size-xxxs solid $color-blue-primary;
    padding: $size-s $size-m $size-s $size-m;
    margin-top: $size-xl;
  }

  .callout p {
    margin-bottom: $size-m;
    line-height: $line-height-body;
    margin-top: 0;
  }

  dt {
    background-color: $color-blue-secondary;
    font-size: $font-size-body;
    font-weight: $font-weight-semibold;
    padding: $size-xxs;
    width: $size-s;
    height: $size-s;
  }
}
