#category-139 {
  background-image: url('../images/institutional-building.svg');
}

#category-107 {
  background-image: url('../images/memo-bank-sticker.svg');
}

#category-279 {
  background-image: url('../images/document-check.svg');
}

#category-277 {
  background-image: url('../images/wallet.svg');
}

#category-278 {
  background-image: url('../images/arrows.svg');
}

#category-280 {
  background-image: url('../images/returning-arrows.svg');
}

#category-284 {
  background-image: url('../images/vault.svg');
}

#category-285 {
  background-image: url('../images/cog.svg');
}

#category-287 {
  background-image: url('../images/padlock.svg');
}

#category-286 {
  background-image: url('../images/folder.svg');
}

#category-288 {
  background-image: url('../images/balance.svg');
}
