#mainNav,
#docsSearch {
  background-color: $color-primary-blue;
}

.navbar {
  .navbar-inner {
    background-color: $color-primary-blue;
  }

  .nav {
    li {
      a {
        color: $color-white;
      }
    }
    .active {
      a {
        color: $color-white;
        font-weight: bold;
      }
    }
  }
}

a.brand {
  filter: invert(100%);
}

#searchBar {
  .search-query {
    border: none;
    border-radius: $border-radius;
  }

  button[type='submit'] {
    background-color: $color-secondary-blue;
    border: none;
    text-shadow: none;
    border-radius: 0 $border-radius $border-radius 0;
  }
}
