@media (max-width: 768px) {
  .collection-category .category-list.two-col {
    flex-direction: column;

    .category {
      width: 100%;
    }
  }

  #mainNav .container-fluid {
    display: block;
    height: auto;
    margin-top: $size-s;

    &::before,
    &::after {
      content: '';
    }

    .btn-navbar {
      right: 0;
      margin-top: 10px;
    }
  }
}
