@media (max-width: 768px) {
  .collection-category .category-list.two-col {
    flex-direction: column;

    .category {
      width: 100%;
    }
  }

  #mainNav .container-fluid {
    display: block;
    height: auto;
    margin-top: $size-xs;
    margin-bottom: $size-xs;

    &::before,
    &::after {
      content: '';
    }

    .btn-navbar {
      right: 0;
      margin-top: $size-xs;

      .icon-bar {
        background: white;
      }
    }
  }

  #categoryHead h1 {
    margin-right: 165px;
  }
}
