$color-primary-blue: #0d418a;
$color-secondary-blue: #5599f6;
$color-white: #ffffff;
$color-gray-subdued: #797e86;
$color-gray-border: #e4e5e7;
$color-gray-text: #18181b;

$size-xs: 0.67em;
$size-s: 1.34em;
$size-m: 2em;
$size-l: 2.67em;
$size-xl: 4em;

$border-radius: 3px;

$font-size-body: 1.17em;
$font-size-subtitle: 1.33em;

$font-weight-regular: 400;
$font-weight-semibold: 600;
